.cursor-p{
    cursor: pointer;
}

.displaycat{
    margin: 60px 0;
}

.round-card{
    display: flex;
    background: #fff;
    border-radius: 2.5em;
    box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
    min-height: 18rem;
    margin: 15px;
    color: black!important;
    text-decoration: none!important;
    transition: all 0.2s ease-in;
}

.round-card:hover{
    box-shadow: 0px 10px 0px -10px rgba(151, 163, 184, 0.5), 0px 20px 10px -20px rgba(151, 163, 184, 0.5), 0px 30px 20px -25px rgba(151, 163, 184, 0.5), 0px 40px 30px -30px rgba(151, 163, 184, 0.5), 0px 50px 50px -35px rgba(151, 163, 184, 0.5) !important;
}

.round-card-text{
    display: flex;
    flex-direction: column;
    width: calc(100% - 65px);
    margin: 15px;
}

.round-card-text h5{
    margin: 0;
    width: calc(100% - 52px);
}

.number-float{
    width: 80px;
    height: 80px;
    border-radius: 1em;
    box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15px 0 0 -15px;
}

.number-float h2{
    color: #fff;
    margin: 0;
}

.round-card-text .description{
    margin: 20px 0 auto -45px;
}

.professor{
    margin-left: -45px;
    margin-top: 15px;
}

.professor b{
    margin-bottom: 50px;
}

.round-card img{
    margin-left: calc(100% - 50px);
    transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.round-card:hover img{
    transform: rotate(360deg);
}

.round-card-text div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.round-card-text .delete-button{
    background-color: #F44336;
    color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 5em;
    border-style: none;
    margin: 0 10px;
    transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.round-card-text .delete-button:hover{
    transform: rotate(360deg);
}

.adding-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-design{
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    min-height: 260px;
    overflow: hidden;
    box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
}

.card-design a{
    text-decoration: none!important;
}

.card-design > div{
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    min-height: 260px;
}

.remove-bar{
    background-color: #F44336; 
    border-style: none;
}

.remove-bar img{
    filter: invert(1);
}

.card-design .description{
    margin: 20px 0 auto 0;
}

.card-design .creator{
    margin: 16px 0;
}

.download_button{
    display: flex;
    height: 40px;
}

.download_button p{
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 40px;
    color: black;
    border-bottom-left-radius: 0.35rem;
    border-top-left-radius: 0.35rem;
    width: 83.5px;
    padding: 15px;
    overflow: hidden;
}

.download_button .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.35rem;
    width: 40px;
    height: 40px;
    filter: brightness(0.9);
    transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.7s;
}

.download_button img{
    transform: rotate(90deg);
    transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: 16px;
}

.download_button:hover img{
    transform: rotate(0);
}

.changelog{
    background: #fff;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
}

.changelog_list{
    line-height: 2;
    margin: 0;
}

.bootstrap-select  button{
    background-color: #fff;
    border-color: #fff;
}

.rs-picker-select-menu{
    opacity: 1!important;
}

@media (min-width: 1200px){
    .container {
        max-width: 90%;
    }
}

@media screen and (min-width: 700px) {
    .add-icon img{
        width: 52px;
    }
    .card-design{
        flex-direction: column;
    }
    .remove-bar{
        width: 100%;
        height: 40px;
    }
    .download_button{
        justify-content: center;
    }
    .download_button p{
        padding: 0;
        width: 0;
        opacity: 0;
        transition: width 1s, padding 0.8s, opacity 0s ease 0.8s;
    }
    .card-design:hover .download_button p{
        opacity: 1;
        width: 83.5px;
        padding: 15px;
        transition: width 1s, padding 0.5s, opacity 0s ease;
    }
    .card-design:hover .download_button .icon{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    .rs-notification > div{
        width: 300px;
    }
  }

@media screen and (max-width: 700px) {
    .displayClass.container{
        padding: 0;
        max-width: none;
    }
    .displayClass{
        padding: 0 30px!important;
    }
    .adding-zone{
        background-color: #f5f7fb;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-radius: 2.5rem 2.5rem 0 0;
        z-index: 100;
        box-shadow: 0px 10px 30px 10px rgba(151, 163, 184, 0.5);
    }
    .adding-zone small{
        margin: 0!important;
    }
    .add-icon img{
        width: 40px;
    }
    .remove-bar{
        padding: 15px;
    }
    .download_button .icon{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .rs-notification{
        max-width: 300px;
    }
    #notification{
        margin: 1rem 0!important;
    }
}